MONGODB_URI=mongodb+srv://abdullahanayem01:123123123@cluster0.jfspadz.mongodb.net/?appName=Cluster0


JWT_SECRET=sketch2design_super_secret_123456

NEXTAUTH_SECRET=ABCXYZ123456

NEXTAUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=123456.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-ABC123

GITHUB_CLIENT_ID=abc123
GITHUB_CLIENT_SECRET=xyz456